@charset "UTF-8";

/*================ SETTINGS ================*/

$baseColor:rgba(255,255,255,1);
$baseHeight: 4vh;
$halfHeight: 2vh;
$circleT: rgba(255,255,255,.2);
$circleC: rgba(255,255,255,.8);


/*================ Mixins ================*/

$breakpoints: (
'sm': 'screen and (max-width: 400px)',
'md': 'screen and (max-width: 768px)',
'lg': 'screen and (max-width: 1000px)',
'xl': 'screen and (max-width: 1200px)',
) !default;


@mixin media-query($breakpoint: md) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}


/*================ COMMON ================*/

body {
    text-align: center;
    background: #7E735F;
    padding: 0;
    margin: 0;
    line-height: 1.0;
}

$page-color: (
  'pageA': #D13438,
  'pageB': #E81123,
  'pageC': #107C10,
  'pageD': #2D7D9A,
  'pageE': #881798,
  'pageF': #525E54,
  'pageG': #5D5A58,
  'pageH': #FF8C00,
  'pageI': #038387,
  'pageJ': #744DA9,
  'pageK': #C30052,
  'pageL': #4C4A48,
);

@each $page, $color in $page-color {
  .#{$page}-bg {
    background-color: $color;
  }
}

main {
    position: relative;
}


header {
    padding: $halfHeight 0;
    img {
        cursor: pointer;
        margin-right: 10px;
        max-width: 50vw;
        max-height: 40vh;
        display: block;
        margin: 0px auto 1em;
    }
}

section#meow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @include media-query(lg) {
        grid-template-columns: 1fr 1fr;
    }
    @include media-query(sm){
        grid-template-columns: 1fr;
    }
}

a.text {
    font-size: $baseHeight;
    text-decoration: none;
    color: $baseColor;
    display: block;
    margin: 0px 10px 10px 10px;
    padding: $baseHeight 0;
    line-height: $baseHeight;
    border: solid 1px $baseColor;
    border-radius: 10px;
    background-color: transparent;
    transition: all 1s linear 1;
}


a.text:active {
    background-color: #038387;
    box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
    transform: translateY(2px);
}

a.text:hover{
    background-color: #038387;
}


a.active {
    background-color: #038387;
    &.invisible {
        background-color: transparent;
    }
} 

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
        list-style-type: none;
        margin: 0.5em 0 0 0;
        padding: 0;
    }
}

button {
    position: relative;
    border: 1px solid #4CAF50;
    border-radius: 5px;
    outline: none;
    padding: .5em 1em;
    font-size: 16px;
    font-weight: 600;
    background: #4CAF50;
    box-shadow: 1px 1px 1px rgba(0,0,0,.5);
    color: #000;

    div#reload {
        display: inline-block;
        vertical-align: middle;
        width: .7em;
        height: .7em;
        margin: 0px 0.5em 0px 0px;
        position: relative;
        border: 0.3em solid $circleT;
        border-left: 0.3em solid $circleC;
        transform: translateZ(0);
        animation: load8 1.1s infinite linear;    
        border-radius: 50%;
        &::after {
            border-radius: 50%;
        }
        &:hover {
            cursor: pointer;
        }
        -webkit-tap-highlight-color: transparent;
    }
    &:hover,
    &:active,
    &:focus{
        outline: none;
        background: #4CAF50;
    }
}

div#reload.loadend {
    border: 0.3em solid $circleC;
}

@keyframes load8 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

section#help {
    display: none;
    &.show {
        display:block;
    }
    position: fixed;
    text-align: left;
    background: rgba(0,0,0,.8);
    border-radius: 25%;
    top: 5vh;
    left: 5vw;
    width: calc( 90vw - 2em );
    height: calc( 90vh - 2em );
    padding: 1em;
    span {
    color: #dd0;
    }
    table {
        color: #fff;
        tr {
            th {
                padding: 1em;
                &:nth-child(1) {
                    color: #dd0;
                }
            }

            td {
                padding: 1em;
                &:nth-child(1) {
                    color: #dd0;
                }
            }
        }
    }
}


footer {
    color: $baseColor;
    a {
        color: $baseColor;
    }
    margin: 2em 0;
}
