$baseColor:rgba(255,255,255,.5);
$baseHeight: 4vh;
$halfHeight: 2vh;

body {
    text-align: center;
    background: #7E735F;
    padding: 0;
    margin: 0;
    line-height: 1.0;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @media screen and (max-width: 1000px){
        grid-template-columns: 1fr 1fr;
    }
    @media screen and (max-width: 600px){
        grid-template-columns: 1fr;
    }
}

a.text {
    font-size: $baseHeight;
    text-decoration: none;
    color: $baseColor;
    display: block;
    margin: 0px 10px 10px 10px;
    padding: $baseHeight 0;
    line-height: $baseHeight;
    border: solid 1px $baseColor;
    border-radius: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        list-style-type: none;
        margin: 0.5em 0 0 0;
        padding: 0;
    }
}

a.active {
    color: #999 !important;
}

header {
    padding: $halfHeight 0;

    img {
        cursor: pointer;
    }
}

footer {
    color: $baseColor;
    a {
        color: $baseColor;
    }
}
